.header {
    margin: 63px 0;
}
.item img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 30px;
}
.profile {
    display: flex;
    border: solid 1px;
    margin-top: 80px;
}
.profile p {
    border: solid 1px;
    width: 500px;
    height: 100px;
    margin: 50px;
    text-align: center;
    padding-top: 35px;
}



